{<<"links">>,[]}.
{<<"name">>,<<"sescapi">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,<<"Read the SESC API in elixir">>}.
{<<"elixir">>,<<"~> 1.16">>}.
{<<"app">>,<<"sescapi">>}.
{<<"licenses">>,[<<"AGPL-3.0-or-later">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"ex_utils">>},
   {<<"app">>,<<"ex_utils">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.1.7">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"plug">>},
   {<<"app">>,<<"plug">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"req">>},
   {<<"app">>,<<"req">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.5.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"logger_json">>},
   {<<"app">>,<<"logger_json">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 6.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"kino">>},
   {<<"app">>,<<"kino">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.12.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"plug_cowboy">>},
   {<<"app">>,<<"plug_cowboy">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.7.2">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"files">>,
 [<<"lib">>,<<"lib/SescAPI">>,<<"lib/SescAPI/mock_server.ex">>,
  <<"lib/SescAPI/activities.ex">>,<<"lib/SescAPI/unities.ex">>,
  <<"lib/assets">>,<<"lib/assets/calendar">>,
  <<"lib/assets/calendar/calendar.ex">>,<<"lib/assets/calendar/build">>,
  <<"lib/assets/calendar/build/main.css">>,
  <<"lib/assets/calendar/build/react-big-calendar.css">>,
  <<"lib/assets/calendar/build/main.js">>,<<"priv">>,<<".formatter.exs">>,
  <<"mix.exs">>,<<"README.md">>]}.
{<<"build_tools">>,[<<"mix">>]}.
